html{scroll-behavior:smooth;}
h2{font-family:Helvetica}
header{height:250px;
	width:1289px;
	background-color:#FFDB58;
	padding: 30px;}
main{
	height:2800px;
	width:1289px;
	background-image:url("./img/background.jpg");
	padding:30px;
}
.logo {
	display: inline-block;
}
.menu {
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}
.image{margin:100px;
	
	height: 320px;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
 }
.elmenu{
	display: inline-block;
	padding: 20px;
	font-size: 22px;
	background-color: #FDE910;
	margin: 0px 25px 0px 50px;
	font-family:Helvetica;
	text-decoration:none;
	color:black;
}
.zdes {
	background-color:#FFD800;

}

.search{display: inline-block;
	width: 250px;
	height: 30px;
	margin: 0px 5px 0px 50px;}
footer{
	height: 100px;
	width: 1289px;
	background-color:#FFDB45;
	padding: 30px;
	vertical-align:bottom;
}
body {margin: 0px;}
.proz{background-color:#fde910f7;
	width: 1225px;
	height:300px;
	padding:40px;

	}
.sprava {
	width: 700px;
	line-height: 25px;
	font-size: 25px;
	font-family:Helvetica;
}
.proz1{background-color:#fde910f7;
	width: 1225px;
	height:500px;
	padding:40px;
}
.cheesecakeimg{
	width: 500px;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}
.cheesecake{width: 600px;
	line-height: 25px;
	font-size: 25px;
	font-family:Helvetica;
}
.proz2{background-color:#fde910f7;
	width: 1225px;
	height:550px;
	padding:40px;
}
.lazaniaimg{width:500px;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}
.lazania{width: 500px;
	line-height: 25px;
	font-size: 25px;
	font-family:Helvetica;
}
.proz3{background-color:#fde910f7;
	width: 1225px;
	height:725px;
	padding:40px;
}
.sharlotkaimg{width:500px;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}
.sharlotka{width: 580px;
	line-height: 25px;
	font-size: 25px;
	font-family:Helvetica;
}
.proz4{background-color:#fde910f7;
	width: 1225px;
	height:600px;
	padding:40px;
}
.blueberrypieimg{width:500px;
	display: inline-block;
	margin: 10px;
	vertical-align: top;
}
.blueberrypie{width:600px;
	line-height: 25px;
	font-size: 25px;
	font-family:Helvetica;
}
.unium{width:250px;
	margin-top:25px;
}
.up{height:50px;
	width:50px;
}